body {
background: #ffffff;-webkit-transform-origin: 0 0; transform-origin: 0 0; }
#tui-animation {
overflow: hidden;
position: relative;
background: #ffffff;
width: 460px;
height: 230px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-perspective: 500px;
perspective: 500px;
margin:auto;
margin-top:10%;
}#tui-animation div {
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
}
#tui-ct {
position: absolute;
width: 460px;
height: 230px;
z-index: 6;
background: transparent;
}
#tui-11 {
position: absolute;
z-index: 5;
}
#tui-7 {
font-weight: bold;
text-decoration: none;
color: #000000;
text-align: left;
font-style: normal;
font-family: 'Open Sans';
font-size: 45px;
white-space: nowrap;
position: absolute;
z-index: 4;
}
#tui-9 {
font-weight: bold;
text-decoration: none;
color: #000000;
text-align: left;
font-style: normal;
font-family: 'Open Sans';
font-size: 45px;
white-space: nowrap;
position: absolute;
z-index: 3;
}
#tui-8 {
font-weight: bold;
text-decoration: none;
color: #000000;
text-align: left;
font-style: normal;
font-family: 'Open Sans';
font-size: 45px;
white-space: nowrap;
position: absolute;
z-index: 2;
}
#tui-12 {
position: absolute;
z-index: 1;
}